.mark-pink {
	background-color: #efc3db;
	white-space: nowrap;
}
.mark-purple {
	background-color: #99a2da;
	white-space: nowrap;
}
.mark-green {
	background-color: #67e1af;
	white-space: nowrap;
}
.mark-yellow {
	background-color: #ffce81;
	white-space: nowrap;
}
.mark-blue {
	background-color: #83dbdd;
	white-space: nowrap;
}
.mark-orange {
	background-color: #fcae7a;
	white-space: nowrap;
}